body {
    margin: 0; padding: 0;
}

.reportTable {
    border: solid 1px #333;
}

.reportTable th,
.reportTable td {
    border: solid 1px #333;
    padding: 0.8em;
}

.reportTable th {
    word-break: break-all;
}
